@import url(./foonts.css);

.hello {
    color: red;
    font-family: 'MyFont';
    font-size: 75px;
    background: url('./icon.png') center top no-repeat;
    height: 1000px;
}

li {
    background-color: green;
}